<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - My Telerik MVC Application</title>
    <style>
        .k-header h1 {
            margin: 0;
            padding: 30px 15px;
            font-size: 32px;
            font-weight: lighter;
        }

        /* Sticky footer styles
        -------------------------------------------------- */
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            background-color: #f5f5f5;
        }

        .container-fluid .text-muted {
            margin: 20px 0;
        }

        .placeholders {
            margin: 30px auto;
        }

        .placeholder img {
            display: inline-block;
        }

        p .k-button {
            margin: 0 15px 0 0;
        }

        .btn-toggle {
            position: absolute;
            top: 0;
            left: 0;
            box-shadow: none;
            height: 48px;
        }

            .btn-toggle .k-icon {
                opacity: 1;
            }

            .btn-toggle,
            .k-primary.btn-toggle:hover,
            .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]),
            .btn-toggle:focus:not(.k-state-disabled):not([disabled]) {
                box-shadow: none;
                border-radius: 0;
            }

                .btn-toggle .k-i-hbars,
                .k-primary.btn-toggle:hover .k-i-hbars,
                .btn-toggle:focus:active:not(.k-state-disabled):not([disabled]) .k-i-hbars,
                .btn-toggle:focus:not(.k-state-disabled):not([disabled]) .k-i-hbars {
                    background-position: -80px -32px;
                }

        @@media (max-width: 768px) {
            .k-item {
                display: block;
                clear: both;
                float: none;
                width: 100%;
            }

            .k-header h1 {
                margin: 0;
                padding: 16px 15px 14px 60px;
                font-size: 18px;
                font-weight: lighter;
            }
        }

        #responsive-panel {
            max-width: 100%;
            margin: 30px auto;
            height: 400px;        
        }
        #menu{
            position:absolute;
            /*z-index:5555;*/
        }
    </style>
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.common-material.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.material.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/angular.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.all.min.js")"></script>
</head>
<body>
    <div class="row">
        <div class="demo-section k-content">
            <img src="~/Images/Logo_嘉里大榮.png" />

                <div class="row" >
                    <ul id="menu">
                        <li>
                            主控台
                            <ul>
                                <li>
                                    Furniture
                                    <ul>
                                        <li>Tables & Chairs</li>
                                        <li>Sofas</li>
                                    </ul>
                                </li>
                                <li>
                                    Decor
                                    <ul>
                                        <li>Bed Linen</li>
                                        <li>Throws</li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            資料列表
                        </li>
                        <li>
                            新增任務
                        </li>
                        <li>
                            調度總表
                        </li>
                        <li>
                            系統管理
                        </li>
                    </ul>
                </div>

          
        </div>
        @RenderBody()
        <div class="row">
            <div class="col-xs-18 col-md-12">
                <div id="grid"></div>
            </div>
        </div>
        <footer class="footer">
            <p class="text-muted">Copyright © 2002-2015 Telerik. All rights reserved.</p>
        </footer>
    </div>
    <script>
        $(document).ready(function () {
            $("#menu").kendoMenu();



            $("#responsive-panel").kendoResponsivePanel({
                breakpoint: 768,
                autoClose: false,
                orientation: "top"
            });
        });
        function onclick(e) {
            $("#responsive-panel").getKendoResponsivePanel().toggle();
        }
    </script>
    @RenderSection("scripts", false)
</body>
</html>
